In [13]:
import tensorflow as tf
import numpy as np
import pandas as pd

np.set_printoptions(precision=3, suppress=True)
data_train=pd.read_csv("train.csv")

In [14]:
data_train.head()

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
0,2021-01-26 02:21:35,556753,2021-01-26 00:00:00,2021-01-26 02:21:59,2021-01-26 02:22:08,2021-01-26 02:32:51,2021-01-26 02:49:47,11696,1.5666,2.65,46.0,46.0,0,0.0,621.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-26 02:33:16,556754,2021-01-26 00:00:00,2021-01-26 02:33:57,2021-01-26 02:34:45,2021-01-26 02:50:25,2021-01-26 03:11:15,18117,2.5207,2.76,8.0,8.0,0,0.0,105.0,NaN,NaN,NaN,3.266667,NaN
2,2021-01-26 02:39:49,556755,2021-01-26 00:00:00,2021-01-26 02:39:57,2021-01-26 02:40:13,2021-01-26 02:56:00,2021-01-26 03:12:46,18623,2.2074,4.80,1.0,1.0,0,0.0,66.0,NaN,NaN,NaN,9.816667,NaN
3,2021-01-26 02:47:53,556756,2021-01-26 00:00:00,2021-01-26 02:48:25,2021-01-26 02:49:06,2021-01-26 03:21:51,2021-01-26 03:41:05,15945,2.1894,6.38,1.0,1.0,0,0.0,127.0,NaN,NaN,NaN,17.533333,NaN
4,2021-01-26 03:06:30,556757,2021-01-26 00:00:00,2021-01-26 03:07:21,2021-01-26 03:07:57,2021-01-26 03:31:38,2021-01-26 04:00:15,17589,2.7870,4.01,34.0,34.0,0,0.0,84.0,NaN,NaN,NaN,1.350000,NaN

In [15]:
data_train=data_train.drop(['pickup_time','accept_time','allot_time','order_date','order_time','reassignment_reason','reassigned_order','rider_id','reassignment_method','cancelled_time','undelivered_orders','delivered_time'],axis=1)

In [16]:
data_train.head()

,order_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,lifetime_order_count,session_time
0,556753,1.5666,2.65,46.0,46.0,0,621.0,NaN
1,556754,2.5207,2.76,8.0,8.0,0,105.0,3.266667
2,556755,2.2074,4.80,1.0,1.0,0,66.0,9.816667
3,556756,2.1894,6.38,1.0,1.0,0,127.0,17.533333
4,556757,2.7870,4.01,34.0,34.0,0,84.0,1.350000

In [17]:
data_train.to_csv("cleaned.csv")

In [18]:
data_train.shape

(450000, 8)

In [20]:
labels=data_train.head(0)

In [21]:
labels=list(labels)
labels

['order_id',
 'first_mile_distance',
 'last_mile_distance',
 'alloted_orders',
 'delivered_orders',
 'cancelled',
 'lifetime_order_count',
 'session_time']

In [22]:
from sklearn.utils import shuffle
data_train=shuffle(data_train)

In [23]:
data_train.head()

,order_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,lifetime_order_count,session_time
219872,382093,0.618500,1.19,25.0,25.0,0,151.0,65.416667
343094,267199,0.016688,2.69,220.0,220.0,0,482.0,68.883333
133456,451315,1.032000,3.50,44.0,44.0,0,423.0,19.333333
403792,164739,2.683000,1.03,112.0,112.0,0,610.0,150.566667
286493,292922,0.502200,2.50,104.0,102.0,0,236.0,0.050000

In [26]:
y=data_train["cancelled"]

In [27]:
x_id=data_train["order_id"]

In [33]:
data_train=data_train.drop(["cancelled","order_id"],axis=1)

In [39]:
data_train.to_csv("training.csv")

In [42]:
data_train.to_numpy()

array([[  0.619,   1.19 ,  25.   ,  25.   , 151.   ,  65.417],
       [  0.017,   2.69 , 220.   , 220.   , 482.   ,  68.883],
       [  1.032,   3.5  ,  44.   ,  44.   , 423.   ,  19.333],
       ...,
       [  2.465,   3.54 ,  15.   ,  15.   ,  48.   ,  43.5  ],
       [  0.911,   3.98 , 124.   , 121.   , 540.   , 281.233],
       [  1.76 ,   4.14 ,  68.   ,  67.   , 238.   , 184.883]])

In [44]:
data_train=np.nan_to_num(data_train)

In [46]:
y.to_numpy()

array([0, 0, 0, ..., 0, 0, 0])